::-webkit-scrollbar {
  display: none;
}

.customized-app {
  font-family: 'Roboto', sans-serif;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.sendbird-channel-header__right-icon {
  display: none;
}

.sendbird-channel-list__header {
  display: none;
}

.sendbird-channel-preview__content__upper__header__total-members {
  display: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */

  margin-bottom: 30px;
}
